In [50]:
import pandas as pd

from ast import literal_eval

In [51]:
df = pd.read_csv('../data/English/project-5-at-2022-09-16-14-44-10aaa9bb.csv',
                 converters={'label': literal_eval})
df = df.set_index('id')

In [52]:
df.head()

,text,post_id,label,bedrooms,pets,annotator,annotation_id,created_at,updated_at,lead_time
id,,,,,,,,,,
7,ðŸ”¥FOR SALEðŸ”¥ Four bedroom penthouse with sea vie...,5251272384992375,"[{'start': 24, 'end': 33, 'text': 'penthouse',...",BEDS: UNK,PETS_UNK,1,7,2022-09-09T10:09:38.490158Z,2022-09-09T10:09:38.490181Z,29.576
6,Fantastic one bedroom apartment in Elena Resid...,5253586514760962,"[{'start': 105, 'end': 110, 'text': '78 m2', '...",BEDS: 1,PETS_UNK,1,6,2022-09-09T10:07:12.030516Z,2022-09-09T10:07:12.030546Z,29.374
5,ðŸ”¥New house For Sale with pool and a breathtaki...,5261124434007170,"[{'start': 93, 'end': 98, 'text': 'house', 'la...",BEDS: 3,PETS_UNK,1,5,2022-09-09T10:06:42.376101Z,2022-09-09T10:06:42.376124Z,93.753

In [53]:
df.shape

(3, 10)

In [54]:
df['bedrooms'].value_counts()

BEDS: UNK    1
BEDS: 1      1
BEDS: 3      1
Name: bedrooms, dtype: int64

In [56]:
df_ner_labels = df['label'].explode().apply(pd.Series).explode('labels')

In [57]:
df_ner_labels.head()

    start  end       text       labels
id
7      24   33  penthouse  ESTATE_TYPE
7     248  253      220m2       SQUARE
7     312  319    550.000      PRICE_A
6     105  110      78 m2       SQUARE
6     256  263    785.000      PRICE_A

In [58]:
df_ner_labels.shape

(10, 4)

In [60]:
df_ner_labels['labels'].value_counts()

SQUARE         4
ESTATE_TYPE    3
PRICE_A        3
Name: labels, dtype: int64